<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="shuttle">
      <section name="transactionScope" type="Shuttle.Core.Infrastructure.TransactionScopeSection, Shuttle.Core.Infrastructure"/>
    </sectionGroup>
  </configSections>

  <shuttle>
    <transactionScope
      enabled="false"
      isolationLevel="RepeatableRead"
      timeoutSeconds="300" />
  </shuttle>
</configuration>