<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="componentRegistry"
             type="Shuttle.Core.Infrastructure.ComponentRegistrySection, Shuttle.Core.Infrastructure" />
    <section name="componentResolver"
             type="Shuttle.Core.Infrastructure.ComponentResolverSection, Shuttle.Core.Infrastructure" />
  </configSections>
  <componentRegistry>
    <components>
      <add
        dependencyType="Shuttle.Core.Infrastructure.Tests.ISomeDependency, Shuttle.Core.Infrastructure.Tests"
        implementationType="Shuttle.Core.Infrastructure.Tests.SomeDependency, Shuttle.Core.Infrastructure.Tests" />
    </components>
  </componentRegistry>
  <componentResolver>
    <components>
      <add
        dependencyType="Shuttle.Core.Infrastructure.Tests.ISomeDependency, Shuttle.Core.Infrastructure.Tests" />
    </components>
  </componentResolver>
</configuration>