<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="bootstrap" type="Shuttle.Core.Infrastructure.BootstrapSection, Shuttle.Core.Infrastructure"/>
  </configSections>

  <bootstrap scan="All">
    <assemblies>
      <add name="Shuttle.Module1" />
      <add name="Shuttle.Module2" />
    </assemblies>
  </bootstrap>
</configuration>