<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="componentResolver" type="Shuttle.Core.Infrastructure.ComponentResolverSection, Shuttle.Core.Infrastructure"/>
  </configSections>

  <componentResolver scan="false">
    <components>
      <add dependencyType="Shuttle.Module1" />
      <add dependencyType="Shuttle.Module2" />
    </components>
  </componentResolver>
</configuration>