<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="shuttle">
      <section name="componentContainer" type="Shuttle.Core.Infrastructure.ComponentContainerSection, Shuttle.Core.Infrastructure"/>
		</sectionGroup>
	</configSections>

	<shuttle>
    <componentContainer>
			<components>
				<add type="Shuttle.Module1" />
				<add type="Shuttle.Module2" />
			</components>
		</componentContainer>
	</shuttle>
</configuration>