<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="shuttle">
      <section name="componentRegistry" type="Shuttle.Core.Infrastructure.ComponentRegistrySection, Shuttle.Core.Infrastructure"/>
    </sectionGroup>
  </configSections>

  <shuttle>
    <componentRegistry>
      <components>
        <add serviceType="Shuttle.Module1" />
        <add serviceType="Shuttle.Module2" />
      </components>
      <collections>
        <collection serviceType="IPlugin">
          <add implementationType="Plugin1" />
          <add implementationType="Plugin2" />
          <add implementationType="Plugin3" />
        </collection>
      </collections>
    </componentRegistry>
  </shuttle>
</configuration>